Are you ready?!?!
<div id="timer">{{game.seconds}}</div>
<form method="post" action="/" name="readyForGame">
    <button id="promptYes" type="submit">Yes!</button>
    <button id="promptNo" type="submit">No</button>
</form>