<form method="post" action="/game" name="startGame">
    <label>
        <input name="playerId" type="hidden" value="{{game.currentPlayer.id}}"/>
    </label>
    <button id="startSubmit" type="submit">Start Game</button>
</form>
