{{> header}}

<h1>{{title}}</h1>

<h3 id="currentGameHeader">Current Game: {{game.gameCode}}</h3>
<h4 id="currentPlayerHeader">Current Player: {{game.currentPlayer.name}}</h4>

<ul>
    {{#game.players}}
        <li id="playerItem">Player {{name}}</li>
    {{/game.players}}
</ul>

<div id="getReady"></div>
<script type="application/javascript">
    function handleReadyResponse(data) {
        document.getElementById("getReady").innerHTML = data;
    }

    function httpGetAsync(callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                callback(xmlHttp.responseText);
                setTimeout(function() {httpGetAsync(callback)}, 900);
            }
        };
        xmlHttp.open("GET", "/game/getReady?pid={{game.currentPlayer.id}}", true); // true for asynchronous
        xmlHttp.send(null);
    }

    httpGetAsync(handleReadyResponse);

</script>
{{> footer}}