{{> header}}

<h1>{{title}}</h1>

<h3>Current Game: {{game.gameCode}}</h3>
<h4>Current Player: {{game.currentPlayer.name}}</h4>

<ul>
    {{#game.players}}
        <li>Player {{name}}</li>
    {{/game.players}}
</ul>

{{> footer}}