{{> header}}

<h1>{{title}}</h1>
<h5>{{error}}</h5>
<form method="post" action="/" name="createGame">
    <label>
        Player Name
        <input id="createFormPlayerName" name="playerName" type="text"/>
    </label>
    <button id="createFormSubmit" type="submit">Create Game</button>
</form>

<form method="post" action="/join" name="joinGame">
    <label>
        Player Name
        <input id="joinFormPlayerName" name="playerName" type="text"/>
    </label>
    <label>
        Game Code
        <input id="joinFormGameCode" name="gameCode" type="text"/>
    </label>
    <button id="joinFormSubmit" type="submit">Join Game</button>
</form>

{{> footer}}